.feedback-form {
    display: flex;
    flex-direction: column;
    max-width: 408px;
    max-height: 296px;
    padding: 24px;
}

label {
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

input {
    width: 348px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 0 0 0 10px;
    transition: 0.4s;
}

textarea {
    max-width: 348px;
    max-height: 73px;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 8px;
    padding: 5px 0 0 10px;
    transition: 0.4s;
}

button {
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #4E75FF;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 95px;
    height: 40px;
    border: 0;
    transition: 0.4s;
}

button:hover {
    background-color: #6C8CFF;;
}

input:hover {
    border: 1px solid #000;
}

textarea:hover {
    border: 1px solid #000;
}
